body {
    font-family: 'Roboto', sans-serif;
    background-color: #ECF0F1;
    color: #2C3E50;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #5e83f1; 
    padding: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ECF0F1;
    text-decoration: none;
}

.banner {
    background: url('banner.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 5em 0;
}

.banner h1 {
    color: #ECF0F1;
    font-weight: bold;
}

.register-section {
    padding: 2em;
    text-align: center;
}

.register-section h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.register-content {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-content label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.register-content input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-content button {
    background-color: #A751E4; 
    border: none;
    padding: 1em 2em;
    color: #ECF0F1;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
}

.register-content button:hover {
    background-color: #ECF0F1;
    color: #A751E4;
    border: 2px solid #A751E4; 
}

footer {
    background-color: #5e83f1; 
    color: #ECF0F1;
    padding: 2em 0;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 1em;
}

footer form {
    margin-top: 1em;
}

footer input[type="email"] {
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    margin-right: 0.5em;
}

footer button {
    background-color: #A751E4; 
    border: none;
    padding: 0.5em 1em;
    color: #ECF0F1;
    cursor: pointer;
    border-radius: 5px;
}

footer button:hover {
    background-color: #ECF0F1;
    color: #A751E4;
    border: 2px solid #A751E4; 
}
