body {
  font-family: 'Roboto', sans-serif;
  background-color: #ECF0F1;
  color: #2C3E50;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #5e83f1;
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ECF0F1;
  text-decoration: none;
}

.banner {

  background: url('banner.png') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 5em 0;
}

.banner h1 {
  color: #ECF0F1;
  font-weight: bold;
}

.banner button {
  background-color: #E74C3C;
  border: none;
  padding: 1em 2em;
  color: #ECF0F1;
  cursor: pointer;
}

.song-section {
  padding: 2em;
}

.country {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.country img {
  height: 1.5em;
  margin-right: 0.5em;
}

.song-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
  padding-bottom: 1em;
}

.song-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2C3E50;
  padding: 1em;
  background-color: #fff;
  margin-right: 1em;
  min-width: 200px; /* Adjust based on your design needs */
}

.album-cover img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.song-info {
  text-align: center;
}

footer {
  background-color: #5e83f1;
  color: #ECF0F1;
  padding: 2em 0;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 1em;
}

footer form {
  margin-top: 1em;
}

footer input[type="email"] {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  margin-right: 0.5em;
}

footer button {
  background-color: #E74C3C;
  border: none;
  padding: 0.5em 1em;
  color: #ECF0F1;
  cursor: pointer;
  border-radius: 5px;
}
